@charset "utf-8";

body{
    font-family: var(--fonte-padrao);
    background-color: var(--cor004);
    height: 100%;
    margin: 0;
}

strong{
    color: var(--cor001);
}

header{
    background-image: linear-gradient(to top, var(--cor001), var(--cor003));
    padding-top: 40px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.445);
    width: 100%;
}

header > h1{
    color: var(--cor006);
    text-align: center;
    font-weight: lighter;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.445);
}

header > p{
    color: var(--cor006);
    text-align: center;
    max-width: 600px;
    font-size: 1.2em;
    margin: auto;
    padding-top: 20px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 50px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.445);
}

header > nav{
    padding: 10px 3px 10px 10px;
}

header > nav > a{
    text-decoration: none;
    color: var(--cor004);
    font-weight: 700;
    padding: 10px;
}

header > nav > a:hover{
    background-color: var(--cor004);
    border-radius: 5px;
    color: var(--cor001);
    transition-duration: 0.5s;
}

main{
    background-color: var(--cor006);
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.445);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

main  h1, h2 {
    font-family: var(--fonte-android);
    color: var(--cor001);
}

main h1{
    padding-bottom: 10px;
}

main  h2{
    margin: 20px 0 10px 0;
    padding-left: 5px;
    background-image: linear-gradient(to right, var(--cor004), var(--cor007));
}

main a{
    background-image: linear-gradient(to right, var(--cor003), var(--cor007));
    text-decoration: none;
    color: var(--cor001);
    font-weight: 700;
    padding: 0 5px 0 5px;
}

main img{
    width: 100%;
}

#pequena{
    max-width: 350px;
    display: block;
    margin: auto;
}

#video{
    background-color: var(--cor001);
    position: relative;
    margin: 0 -20px 0 -30px;
    padding: 20px;
    padding-bottom: 58%;
}

div#video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}