* {
margin: 0px;
padding: 0px;
}

:root{
   /* CORES */
    --cor001: #001A6E;
    --cor002: #415FC3;
    --cor003: #7792ED;
    --cor004: #ADDEFF;
    --cor005: #000;
    --cor006: #fff;
    --cor007: #f6fcff;

    /* FONTES */
    --fonte-padrao: 'Arial', sans-serif;
    --fonte-destaque: 'bebas Neue', cursive;
    --fonte-android: 'idroid', serif;
}
@font-face{
    font-family: 'idroid';
    src :url('../fontes/idroid.otf') format('opentype');
}